a{
    color: #274C5B;
    text-decoration: none;
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 69px 162px;
    background-color: #FFF;
    color: #274C5B;
    font-family: Helvetica;
}
.header__section{
    display: flex;
    align-items: center;
}
.header__section2{
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}
.header__item{
    
    padding: 10px 10px;
    font-size: 20px;
    margin-left: 10px;
}
.header__cart{
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 33px;
  padding: 5px;
  
}
.cart{
  margin-right: 23px;
}
.header__cartIcon{
  margin-right: 12px;
}
.menu{
  display: flex;
  list-style-type: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
  
}
.header__itemLogo{
  
  font-size: 38px;;
  left: 40px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 45px;
}
.header__Logo{
width: 36.58px;
margin-right: 9px;
}
.d7 {background: #FFF;}
.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
  position: relative;
}
.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border-right: none;
  border: 2px solid #324b4e;
  background: #fafafa;
  outline: none;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
  
}
.d7 input::after{
  content: "";
  width:56px;
  height:56px;
  border-radius:50%;
  /* background-image: url(Search.svg); */
  background-color: #7EB693;
  
}
.d7 button {
  width: 43px;
  height: 43px;
  background: #7EB693;
  border: 1px solid #7EB693;
  border-radius:50%;
  right: 3px;
  top: 2.5px;
  position: absolute;
  
  
}
/* .burger_btn {
  display: none;
  border: none;
  background: transparent;
}

.menu {
  display: none;
}

.btn_close {
  display: none;
} */
.burger{
  display: none;
  border: none;
  background: transparent;
}
/* .menu1 {
  display: none;
}
.burger-close {
  display: none;
} */

@media only screen and (max-width: 1335px){
  .menu{
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #f8f8f8;
    z-index: 10;
    transition: left 1s ;
    margin-top: 0 px;
    gap: 70px;
    left: -100%;
  }
  .active{
    left: 0;
  }
  .header__item{
    font-size: 50px;
  }
  .burger{
    display: block;
    padding-right: 50px;
    padding-top: 10px;
    /* cursor: pointer; */
  }
  
    
  
}
@media (max-width: 930px){
  .d7 input{
    width: 150px;
  }
}
@media (max-width: 827px){
  .header{
    padding: 40px 57px;
  }
  .header__item {
    font-size: 35px;
  }
}
@media (max-width: 721px){
.header__Logo img{
  width: 70%;
  height: 70%;
  margin-right: 2px;
}
.header__item {
  font-size: 25px;
}
.header__itemLogo{
  font-size: 70%;
  left: 20px;
}
.menu .burger{
  height: 70%;
  width: 70%;
}
.d7 input{
  width: 120px;
}
.header{
  padding: 40px 97px;
}
}
@media (max-width: 615px){
  .header{
    padding: 40px 67px 40px 13px;
  }
}
@media (max-width: 440px){
  .header__itemLogo{
    font-size: 45px;
  }
  .menu{
    width: 35%;
  }
  .header__itemLogo{
    font-size: 50%;
    left: 1px;
  }
  .header__Logo img{
    width: 50%;
    height: 50%;
    margin-right: 1px;
  }
  .menu .burger{
    padding-right: 10px;
  }
  .d7 input{
    width: 100px;
    height: 25px;
  }
  .d7 button{
    width: 24px;
    height: 24px;
  }
  .loop{
    width: 65%;
    height: 65%;
  }
  .d7 form{
    margin-right: 10px;
  }
  
}
@media (max-width: 434px){
  .header{
    padding: 15px 67px 15px 13px; 
  }
  .header__Logo{
    margin-right: -4px;
  }
  .menu{
    margin-left: -27px
  }
  .menu .burger img{
    width: 110%;
    
  }
  .header__cart{
    height: 37%;
    border: 0px;

  }
  .cart{
    display: none;
  }
  .header__cartIcon img{
    height: 27px;
  }
}